<?php if ($formModel->shipping_address): ?>
    <div class="callout callout-info no-icon">
        <div class="header">
            <h3><?= e(trans('djetson.shop::lang.form.shipping_address')) ?></h3>
        </div>
        <div class="content">
            <ul class="list-unstyled" style="padding-left: 0">
                <?php foreach ($formModel->shipping_address as $key => $val): ?>
                    <li><b><?= e(trans(sprintf('djetson.shop::lang.form.%s', $key))) ?></b>: <?= e($val) ?></li>
                <?php endforeach ?>
            </ul>
        </div>
    </div>
<?php endif ?>