<!-- START INVOICE -->
<div class="scoreboard-item title-value">
    <h4><?= e(trans('djetson.shop::lang.form.invoice')) ?></h4>
    <p><?= e($formModel->id) ?></p>
    <p class="description"><?= e(trans('djetson.shop::lang.form.created_at')) ?>: <?= e($formModel->created_at) ?></p>
</div>
<!-- END INVOICE -->

<!-- START STATUS -->
<div class="scoreboard-item title-value">
    <h4>Status</h4>
    <p><?= e($formModel->status->name) ?></p>
    <p class="description"><?= e(trans('djetson.shop::lang.form.updated_at')) ?>: <?= e($formModel->updated_at) ?></p>
</div>
<!-- END STATUS -->

<!-- START TOTAL -->
<div class="scoreboard-item title-value">
    <h4><?= e(trans('djetson.shop::lang.form.total')) ?></h4>
    <p><?= e($formModel->text_total) ?></p>
    <p class="description"><?= e(trans('djetson.shop::lang.form.subtotal')) ?>: <?= e($formModel->text_subtotal) ?></p>
</div>
<!-- END TOTAL -->